* {
    box-sizing: border-box;
}

body{

    font-family: Nunito, sans-serif;
    --background-color: white;
    --text-color: black;
    --elements-color:white;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark{
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color:hsl(209, 23%, 22%);
}

.header{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-content{
    display:flex;
    text-align: center;
    justify-content:space-between;
    max-width:100%;
    margin-inline:auto;
    padding-inline:20px;
    background-color:var(--elements-color);
}

.mode-change{
    cursor: pointer;
}

main{
    padding-top: 40px;
}

main .back{
    
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-left: 40px;
    margin-top: 40px;
    outline: 1px solid black;


    /* height: 23px;
    width: 70px;
    outline: black 1px solid;
    
    display:inline-block;
    text-align: center; */
}

/* p, .text{
    overflow-wrap: break-word;
    word-break: break-word;
} */

.text{
    margin-left: -30px;
    margin-top: 10px;
    
}

.country-info {
  display: flex;
  gap: 190px;
  align-items: flex-start;
  max-width: 560px;
  margin-top: 40px;
}

.country-info img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: 30px;
}


.country-title{
    display: flex;
    gap: 100px;
    font-size: 15px;
    
}

p {
  margin: 8px 0;
   white-space: nowrap;  /* Do NOT break this text into a new line. no matter what. */
   
   
}

bold {
  font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

.border-countries{
    margin-left: 0px;
}

/* .flag-container{
    height: 200px;
    width: 300px;
    margin-top: 20px;
    display:flex;
    padding:0;

}


a{
    width:100%;
    height:100%;
    margin-left: 24px;

}

main{
    margin-inline: auto;       /* MAX WIDTH is NECESSARY to give when using margin-inline: auto; 
                                    this Centers the main content horizontally */
    /* max-width:1100px;
    padding-inline: 20px;
    margin-top: 40px;
}

.country-info{
    margin-left: 40px;
    display: flex;
    gap : 20px;
} */
